body {
    padding: 20px 20px;
    font-family: serif, 'Microsoft YaHei';
}

.general-task {
    position: relative;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
}

.common-part {
    position: relative;
    flex-grow: 1;
    border-radius: 5px;
    padding: 20px;
}

.all-tasks {
    background-color: #31b48d;
}

.unsolved-tasks {
    background-color: #38a1f2;
    margin: 0 20px 0 20px;
}

.processing-tasks {
    background-color: #7538c7;
}

.resolved-tasks {
    background-color: #3b67a4;
    margin-left: 20px;
}

.describe {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.describe p {
    display: block;
    margin: 0;
}

.describe-title {
    font-size: 14px;
    font-weight: bold;
}

.real-time {
    font-size: 13px;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.3);
}

.progress-detail {
    display: flex;
    justify-content: space-between;
}

.progress-detail:after {
    float: right;
    content: ""\e60c"";
    width: 10px;
    height: 10px;
    background-color: #38a1f2;
}

.progress-amount {
    font-size: 32px;
    font-weight: bold;
    line-height: 30px;
    margin: 0;
}

.iconfont {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 100px;
    opacity: 0.3;
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

thead {
    background-color: #EBECF0;
    color: #333;
    border-bottom: 1px solid #DCDEE3;
}

thead th {
    height: 45px;
    padding-left: 15px;
}

tbody tr {
    border-bottom: 1px solid #DCDEE3;
}

tbody td {
    padding-left: 15px;
}

tbody td:nth-child(1) {
    width: 20%;
}

tbody td:nth-child(3) {
    width: 10%;
}

tbody td:nth-child(4),
tbody td:nth-child(5) {
    width: 10%
}

.delete-btn {
    width: 50px;
    font-size: 13px;
    text-align: center;
    border-radius: 5px;
    padding: 8px 3px 8px 3px;
    background-color: #ee706d;
    color: white;
}

.item-description {
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.item-description:hover {
    display: block;
}